<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new player</title>
</head>
<body>

<h1>Create a new player</h1>

<form th:action="@{/player/new}" method="post" th:object="${player}">
    <table>
        <tr>
            <td><label for="nameField">Name</label></td>
            <td><label for="birthYearField">Birth year</label></td>
            <td><label for="birthPlaceField">Birthplace</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="nameField" th:field="*{namePlayer}" />
            </td>
            <td>
                <input type="text" id="birthYearField" th:field="*{birthYear}" />
            </td>
            <td>
                <input type="text" id="birthPlaceField" th:field="*{birthPlace}" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Save player" />
</form>
</body>
</html>