<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new team</title>
</head>
<body>

<h1>Create a new team</h1>

<form th:action="@{/team/new}" method="post" th:object="${team}">
    <table>
        <tr>
            <td><label for="nameField">Name</label></td>
            <td><label for="cityField">City</label></td>
            <td><label for="stateField">State</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="nameField" th:field="*{nameTeam}" />
            </td>
            <td>
                <input type="text" id="cityField" th:field="*{cityOfTeam}" />
            </td>
            <td>
                <input type="text" id="stateField" th:field="*{stateOfTeam}" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Save team" />
</form>
</body>
</html>